### Hierarchical Indexing
#### Description
#### You are provided with the dataset of a company which has offices across three cities - Mumbai, Bangalore and New Delhi. The dataset contains the rating (out of 5) of all the employees from different departments (Finance, HR, Marketing and Sales). 

#### Create a hierarchical index based on two columns: Office and Department

#### Print the first 5 rows as the output. Refer to the image below for your reference.

In [10]:
import numpy as np
import pandas as pd
df=pd.read_csv("rating.csv")
#Creating anhHierarchical Index
df.set_index(["Office","Department"],inplace=True)
df.head()

                         ID  Rating
Office    Department
New Delhi Finance     U2F26     3.4
          Marketing   U2M61     3.9
          Sales       U1S15     2.8
Mumbai    HR          U1H87     2.1
New Delhi Sales       U1S51     4.6