## Dataframes Merge
#### Description
##### Perform an inner merge on two data frames df_1 and df_2 on  'unique_id' and print the combined dataframe.

In [1]:
import numpy as np 
import pandas as pd

In [7]:
df_1=pd.read_csv("restaurant-1.csv")
df_2=pd.read_csv("restaurant-2.csv")
df_1.head(3)

,name,address,city,cuisine,unique_id
0,arnie morton's of chicago,"""435 s. la cienega blvd.""","""los angeles""","""steakhouses""",'0'
1,art's deli,"""12224 ventura blvd.""","""studio city""","""delis""",'1'
2,bel-air hotel,"""701 stone canyon rd.""","""bel air""","""californian""",'2'

In [8]:
df_2.head(3)

,name_2,address_2,city_2,cuisine_2,unique_id
0,arnie morton's of chicago,"""435 s. la cienega blv.""","""los angeles""","""american""",'0'
1,art's delicatessen,"""12224 ventura blvd.""","""studio city""","""american""",'1'
2,hotel bel-air,"""701 stone canyon rd.""","""bel air""","""californian""",'2'

In [9]:
df_3=df_1.merge(df_2,on="unique_id",how="inner")
df_3.head(20)

,name,address,city,cuisine,unique_id,name_2,address_2,city_2,cuisine_2
0,arnie morton's of chicago,"""435 s. la cienega blvd.""","""los angeles""","""steakhouses""",'0',arnie morton's of chicago,"""435 s. la cienega blv.""","""los angeles""","""american"""
1,art's deli,"""12224 ventura blvd.""","""studio city""","""delis""",'1',art's delicatessen,"""12224 ventura blvd.""","""studio city""","""american"""
2,bel-air hotel,"""701 stone canyon rd.""","""bel air""","""californian""",'2',hotel bel-air,"""701 stone canyon rd.""","""bel air""","""californian"""
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro""",'3',cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french"""
4,campanile,"""624 s. la brea ave.""","""los angeles""","""californian""",'4',campanile,"""624 s. la brea ave.""","""los angeles""","""american"""
5,chinois on main,"""2709 main st.""","""santa monica""","""pacific new wave""",'5',chinois on main,"""2709 main st.""","""santa monica""","""french"""
6,citrus,"""6703 melrose ave.""","""los angeles""","""californian""",'6',citrus,"""6703 melrose ave.""","""los angeles""","""californian"""
7,fenix at the argyle,"""8358 sunset blvd.""","""w. hollywood""","""french (new)""",'7',fenix,"""8358 sunset blvd. west""","""hollywood""","""american"""
8,granita,"""23725 w. malibu rd.""","""malibu""","""californian""",'8',granita,"""23725 w. malibu rd.""","""malibu""","""californian"""
9,grill the,"""9560 dayton way""","""beverly hills""","""american (traditional)""",'9',grill on the alley,"""9560 dayton way""","""los angeles""","""american"""
10,katsu,"""1972 hillhurst ave.""","""los feliz""","""japanese""",'10',restaurant katsu,"""1972 n. hillhurst ave.""","""los angeles""","""asian"""
11,l'orangerie,"""903 n. la cienega blvd.""","""w. hollywood""","""french (classic)""",'11',l'orangerie,"""903 n. la cienega blvd.""","""los angeles""","""french"""
12,le chardonnay (los angeles),"""8284 melrose ave.""","""los angeles""","""french bistro""",'12',le chardonnay,"""8284 melrose ave.""","""los angeles""","""french"""
13,locanda veneta,"""8638 w. third st.""","""los angeles""","""italian""",'13',locanda veneta,"""3rd st.""","""los angeles""","""italian"""
14,matsuhisa,"""129 n. la cienega blvd.""","""beverly hills""","""seafood""",'14',matsuhisa,"""129 n. la cienega blvd.""","""beverly hills""","""asian"""
15,palm the (los angeles),"""9001 santa monica blvd.""","""w. hollywood""","""steakhouses""",'15',the palm,"""9001 santa monica blvd.""","""los angeles""","""american"""
16,patina,"""5955 melrose ave.""","""los angeles""","""californian""",'16',patina,"""5955 melrose ave.""","""los angeles""","""californian"""
17,philippe the original,"""1001 n. alameda st.""","""chinatown""","""cafeterias""",'17',philippe's the original,"""1001 n. alameda st.""","""los angeles""","""american"""
18,pinot bistro,"""12969 ventura blvd.""","""studio city""","""french bistro""",'18',pinot bistro,"""12969 ventura blvd.""","""los angeles""","""french"""
19,rex il ristorante,"""617 s. olive st.""","""los angeles""","""nuova cucina italian""",'19',rex il ristorante,"""617 s. olive st.""","""los angeles""","""italian"""