### Employee Training
#### Description
#### You are provided with the dataset of a company which has offices across three cities - Mumbai, Bangalore and New Delhi. The dataset contains the rating (out of 5) of all the employees from different departments (Finance, HR, Marketing and Sales). 

#### The company has come up with a new policy that any individual with a rating equal to or below 3.5 needs to attend a training. Using dataframes, load the dataset and then derive the column ‘Training’ which shows ‘Yes’ for people who require training and ‘No’ for those who do not.

#### Print the first 5 rows as the output. Refer to the image below for your reference.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("rating.csv")
df

        ID Department     Office  Rating
0    U2F26    Finance  New Delhi     3.4
1    U2M61  Marketing  New Delhi     3.9
2    U1S15      Sales  New Delhi     2.8
3    U1H87         HR     Mumbai     2.1
4    U1S51      Sales  New Delhi     4.6
..     ...        ...        ...     ...
528  U3S44      Sales  New Delhi     4.8
529  U2M11  Marketing  Bangalore     2.5
530  U3F53    Finance  Bangalore     3.2
531  U3S46      Sales  Bangalore     2.9
532  U3S28      Sales  New Delhi     2.9

[533 rows x 4 columns]

In [4]:
df["Training"]=df.Rating.apply(lambda x : Yes if x<=3.5 else No)

NameError: name 'Yes' is not defined