In [1]:
import pandas as pd
import numpy as np

# Defining data to create lists for dictionary
cars_per_cap = [809, 731, 588, 18, 200, 70, 45]
country = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
drives_right = [False, True, True, True, False, False, False]

In [2]:
# Merging the DataSets Which are provided and create a DataFrame.
#So,to create a DataFrame we can take the help of the DICTONARY because the key of the dict will represents the columns
# Headers and Data inside the values becomes the columns or the Row Data.

test_dict={"Cars_Per_Cap":cars_per_cap,"Country":country,"Drives_Right":drives_right}

#Now lets convert into the Dataframe 
table_formate=pd.DataFrame(test_dict)
table_formate

   Cars_Per_Cap        Country  Drives_Right
0           809  United States         False
1           731      Australia          True
2           588          Japan          True
3            18          India          True
4           200         Russia         False
5            70        Morocco         False
6            45          Egypt         False